<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shark Attack Machine Learning</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lumia Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.1.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- For plotly plots-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1><a href="index.html">Shark Attack!</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="#about">About Our Process</a></li>
              <li><a href="#team">Team</a></li>
              <li class="drop-down"><a href="#">Deep Drop Dow</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#services">Models</a></li>
          <li><a href="#portfolio">Visuals</a></li>
          <li><a href="#testimonials">Shark Attacks</a></li>
          <li><a href="#contact">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1><span><b>A Machine Learning Project</b></span></h1>
      <h3 style="color:#99ffff">using random forest classification models to predict the fatality of a shark attack</h3>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Did Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>What We Did</h2>
          <p>We pulled a <a href="https://github.com/ajcipolle/sharkattack/blob/4729b5dfad1e5d50e5bbefcc461a7712b4f812fa/data/attacks.csv">shark attack dataset</a> from <a href="https://Kaggle.com">Kaggle.com</a> and <a href=#about>learned</a> from it.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Data Cleaning</a></h4>
              <p>Autum's Data cleaning explanation</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Database</a></h4>
              <p> John's explanation of the setup of our database and the way we used it</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Machine Learning Models</a></h4>
              <p>Daniel's Random Forest classification explanation</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../static/img/hammerheads.jpg" class="img-fluid" alt="Hammerhead Sharks">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Machine Learning Process</h3>
            <p>
              We built Random Forest and Decision Tree models using location and other features to predict the probability of a fatality of a <b>shark attack</b>. Output of our machine learning models fill our shark attack database.
            <br><br>For the machine learning aspect of this project, we chose classification models because, with this data set, we were predicting an outcome rather than a numerical value.

To obtain more accurate predictions, we ran several different classification models and compared the results. We ran Logistical Regression, Random Forest Classification, and Decision Tree Classification models and each one displayed different results.

We began by running the test data through each model. <br><br>Then, to verify accuracy we ran the training data through the models. We were genuinely surprised to see that the model was overfitting, finding that the training model had higher accuracy than the testing model. We also ran a feature importance test on the highest-scoring model, Random Forest Classification, and discovered that the injury column dominated all other features.



</p>
            <ul>
              <li><i class="bx bx-check-double"></i> Features: injury, species of shark, time of day, activity, location, age of victim</li>
              <li><i class="bx bx-check-double"></i> Logistical Regression, Decision Tree, Random Forest, Cross-Validation Model, Feature Importance  </li>
            </ul>
            <div class="row icon-boxes">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>Feature Importance</h4>
                <p>One thing we noticed was how much the injury feature played an extremely significant role in the results of our model looking at the graph of feature importance. We then ran the model without injury column as a feature. The results were drastically different. As you can see from the R^2 the accuracy went way down. The feature importance was a lot more even however. <br><br>Species was the highest but not at the margins that injury was when it was a feature. Another interesting note was that literally every prediction was N for surviving the shark attack. The best explanation for this is that by removing the injury column the model had no way of coming to a determination because none of the other columns had any information on whether the individual was harmed or not by the attack. With this in mind we chose to use the injury feature for our final analysis</p>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Refining Our Model</h4>
                <p><br><br>Through <a href="https://machinelearningmastery.com/repeated-k-fold-cross-validation-with-python/">more research</a>, we discovered that the best solution was to run a cross-validation model to generate many models in order to then take the mean of each model group to see if the model stabilizes. These results were also surprising because each group’s mean scores were even higher than the scores from the original model.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
     <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Train Accuracy <i class="val">0.822</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Train Precision <i class="val">0.279</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Train Recall <i class="val">0.286</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Test Accuracy <i class="val">0.833</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Test Precision <i class="val">0.429</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Test Recall <i class="val">0.428</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->
   
    <div>
      <hr>
    </div>

   <!-- ======= data cleaning Section ======= -->
    <section id="datacleaning" class="about">
      
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../static/img/bullshark.jpg" class="img-fluid" alt="Hammerhead Sharks">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Data Cleaning Process</h3>
            <p>
              The data cleaning process for this dataset was intense; there were many inconsistencies in the data. The largest offenders being: misspellings, extra spaces at the beginning or end of words, and detailed descriptions of the area instead of stating a location. Our plan when we were starting this project was to use a website and scrape the data. We planned on doing this by creating a loop that iterates through the area column and inputs each area before scraping the coordinates. 
<br><br>Unfortunately, this didn't work because the site we were using recognized and blocked the chrome driver after we scraped the data for three countries. After this setback, we decided to pivot because the coordinates we were pulling were not great matches due to the misspellings and the multiple returns we were receiving. We ended up using OpenCageGeocode API and used a replace_list to start the cleaning process. After that, we stripped the text of multiple variables to create a cleaner location for the API call.
<br><br>
To reduce the API calls, we created a text file that the areas were written to once they were cleaned. After we had a list of the cleaned areas from the text file, we created a dictionary, so we were able to store the response from the API call as a value with the area as a key. This step helped the data stay organized and allowed us to merge the response that we got back to the primary dataset as a test check. After we joined, we were able to find the locations that didn't get a match and manually enter as many as possible (about 6). 
<br><br>At this point, data cleaning and extraction were complete. We next dropped duplicates since some areas were mentioned much more often. We didn't need the duplicates in this situation because we were merging the geodata onto a different data set (output of machine learning, not the primary data). We left two options at the bottom of the Jupyter notebook for loading the data into the database. One is a CSV that you can manually load and one is a direct route to SQL.


              <br>
            <ul>
              <li><i class="bx bx-check-double"></i> Data Cleaning Summary:</li>
              <li><i class="bx bx-check-double"></i> Data Cleaning Tools: </li>
            </ul>
            <div class="row icon-boxes">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>Data in</h4>
                <p>The <a href="/sharkattack/data/attacks.csv"> dataset</a> we started with</p>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Data out</h4>
                <p>The <a href = "/sharkattack/data/geo_data.csv"> dataset</a> we sent to the ML model</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End data cleaning Section -->
<hr>
   


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">1000000000</span>
              <p>Sharks in the Ocean</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">61</span>
              <p>Shark attacks in 2020 so far</p>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">41</span>
              <p>were provoked attacks</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">5</span>
              <p>were fatal</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Machine Learning Models</h2>
          <p>We used Random (kelp) Forest Classification Models</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="icofont-computer"></i>
              <h4><a href="#">Model One</a></h4>
              <p>Our explanation of the first model we ran without dropping NAs</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">Model two</a></h4>
              <p>Our explanation of the second model we ran with filling NAs</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-image"></i>
              <h4><a href="#">Model three</a></h4>
              <p>Our explanation of the third model we ran after combining the locations</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-settings"></i>
              <h4><a href="#">Model four</a></h4>
              <p> Our explanation of the forth model we ran finding the most important features</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-earth"></i>
              <h4><a href="#">Decision Tree Classifier</a></h4>
              <p>Maybe an other</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-tasks-alt"></i>
              <h4><a href="#">another</a></h4>
              <p>Maybe another</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Visuals</h2>
          <p>A deeper dive into the data</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Backend</li>
              <li data-filter=".filter-card">Machine Learning</li>
              <li data-filter=".filter-web">Predictions</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Database Design</a></h4>
                <p>Flask App calling our machine learning output</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/portfolio-4.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Model 3</a></h4>
                <p>Model</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/portfolio-3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 2</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/portfolio-5.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Prediction 2</a></h4>
                <p>Prediction</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/portfolio-5.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Model 2</a></h4>
                <p>Model</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/portfolio-6.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 3</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../img/portfolio/Hawaii_predition.jpg" class="img-fluid" alt="">
                <a href="../img/portfolio/Hawaii_predition.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Prediction 1</a></h4>
                <p>Hawaii</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/feature_importance.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/feature_importance.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Feature Importance</a></h4>
                <p>The injury feature was vital to our final model</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../static/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <a href="../static/img/portfolio/portfolio-9.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Model 1</a></h4>
                <p>Model</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <section id = "mapwrapper" class="map"><!-- ========= Leaflet Map Section ============ -->
      <div class="container-fluid" style = "width:80%; height:400px;">

        <div class="section-title">
          <h2>Shark Attack Map</h2>
          <p>Click a marker to see the predicted chance of death from an attack.<br>Warning: Do not use this site mid-attack!</p>
        </div>
      
        <hr>
        
        <section id = "map" class="map">
          <div id="mapcontainer" style="width:100%; height:400px;">
            <p>Let's put it here, k?</p>
          </div>
        </section>
  
      </div>

    </section><!-- End Leaflet Map Section -->

    <section id = "graphwrapper" class="graph"><!-- ========= Plotly Graph Section ============ -->
      <div class="container-fluid" style = "width:50%; height:50%;">
        <div class="section-title">
          <h2>Shark Attack Graphs</h2>
        </div>
      <hr>
        <section id = "age_bar" class="graph">
          <div id="graphcontainer" style="width:50%; height:400px;">
          </div>
        </section>
      </div>
    </section>

    <section id = "graphwrapper" class="graph">
      <div class="container-fluid" style = "width:50%; height:400px;">     
        <section id = "fatal_bar" class="graph">
          <div id="graphcontainer" style="width:50%; height:400px;">
          </div>
        </section>
      </div>
    </section>

    <section id = "graphwrapper" class="graph">
      <div class="container-fluid" style = "width:50%; height:400px;">     
        <section id = "sex_bar" class="graph">
          <div id="graphcontainer" style="width:50%; height:400px;">
          </div>
        </section>
      </div>
    </section>
    <section>
      <div>
        <a> </a>
      </div>
    </section>
    <!-- ========= End Plotly Graph Section ============ -->
    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Shark Attacks...</h2>
          <p>Here are some examplary shark attacks in our dataset</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href= "http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf">Lacerations to leg & hand by a 3 meter Tiger Shark, a PROVOKED INCIDENT!</a>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Gustavo Ramos </h3>
            <h4>Free diving in Colima, Mexico</h4><br>
            <h4>Freediving for octopus with several in a bag at his waist, the shark attempted to take the octopus he had just caught. Ramos kicked the shark and it retaliated.</h4>
          </div>     

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href ="http://sharkattackfile.net/spreadsheets/pdf_directory/2016.12.06-Phillips.pdf">Lacerations to both hands while attempting to land a hooked 2 meter Wobbegong shark.</a>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Jesse Phillips</h3>
            <h4>Surf fishing in Australia</h4><br>
            <h4>He hooked the shark and was attempting to get it to shore when it wheeled around and bit his hand, a provoked incident.</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href = "http://sharkattackfile.net/spreadsheets/pdf_directory/2014.12.28.b-Swanson.pdf">Injury to hip and leg by an 8-10 foot White shark</a>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Kevin Swanson</h3>
            <h4>Surfing in San Luis Obispo, California</h4><br>
            <h4> “It was really radical. I was about 10 feet from him, and it was absolutely quiet. The shark came straight up out of the depths and got him and took him under the water"</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href = "http://sharkattackfile.net/spreadsheets/pdf_directory/2015.04.12-Canestri.pdf">Fatal. April 15, 2015 at 9 am. Bull shark.</a>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Elio Canestri</h3>
            <h4>Surfing in Cap Homard, Reunion</h4><br>
            <h4>A 13-year old junior surf champion, he participated in the championships of France in 2014 and was part of the Reunion Surf League’s team.</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href ="http://sharkattackfile.net/spreadsheets/pdf_directory/2015.09.06-Gennaro.pdf">No injury, shark struck board, tossing her into the sea</a>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>Caterina Gennaro</h3>
            <h4>Stand-Up Paddleboarding in Los Angeles</h4><br>
            <h4>A dive master, scientific master diver, boat captain, and underwater videographer and photographer with over 3,000 dives</h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>The Delightful Street Artists</h2>
          <p>We are a team of data analysts and visualisation specialists. This is our machine-learning project.</p>
          <br>
          <div>
            <audio controls>
              <source src ="../static/audio/jaws_intro.wav" typ="audio/wav">
            </audio>
          </div>
        </div>
        <br>
        <div>
        
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/img/team/team-2.jpg" alt="Autum Perconti">
              <h4>Autum Perconti</h4>
              <span>Hood River, Oregon</span>
              <p>
                Data Engineer. Scraper Extraordinaire. Data Pre-Processing. Violin.
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch"> 
            <div class="member">
              <img src="../static/img/team/team-4.jpg" alt="Daniel Carter">
                <h4>Daniel Carter</h4>
                <span>Springfield, Oregon</span>
                <p>
                  Machine Learning Wizard. Train, Test, rinse, repeat. Trombone.
                </p>
            <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>

        
          

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/img/team/team-3.jpg" alt="John Levear">
              <h4>John Levear</h4>
              <span>Portland, Oregon</span>
              <p>
                Database Doctor. Flask App. Plotly. Drums.
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/img/team/team-1.jpg" alt="Tony Cipolle">
              <h4>Tony Cipolle</h4>
              <span>Minneapolis, Minnesota </span>
              <p>
                Front End. Leaflet. d3. Banjo.
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          

          

        </div>

      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Sharks</h3>
            <p>
              Near Reefs <br>
              The Coast, Oceana <br><br>
              <strong>A Shark Museum's Phone:</strong> +1 (860) 961-7720<br>
              <strong>Cool Shark Biologists:</strong> <a href="https://untamedscience.com/shark-scientists/">Shark Scientists</a><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/ajcipolle/sharkattack">Git Hub Repository</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#datacleaning">About Our Process</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Machine Learning Models</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.floridamuseum.ufl.edu/shark-attacks/">The International Shark attack file</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.kaggle.com/teajay/global-shark-attacks">Shark Attack Dataset</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#datacleaning">Data Cleaning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Machine Learning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Database Design</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

<!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>


  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
      
  <!-- JS  -->
  <script type="text/javascript" src="../static/js/map.js"></script>
  <script type="text/javascript" src="../static/js/plotly.js"></script>
  
  <!-- Template map JS File -->
  <script src="../static/js/map.js"></script>
    
</body>
</html>